# adsprpcd
allow init adsprpcd_file:filesystem { mount relabelfrom relabelto };

# leds
allow init sysfs_leds:lnk_file read;

allow init self:capability2 block_suspend;
allow init socket_device:sock_file { create setattr unlink };
allow init sysfs:file { open read write };
allow init device:chr_file ioctl;
allow init hal_wifi_supplicant_default:unix_dgram_socket sendto;
allow init hwservicemanager:binder call;
allow init proc:file { open read };
allow init self:netlink_generic_socket { read write };
allow init self:netlink_route_socket { create read };
allow init self:socket { read write };
allow init self:udp_socket ioctl;
allow init sysfs:file { open write };
allow init vendor_data_file:file append;
